* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  height: 100vh;
  width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* calculator container  */
.calculator {
  background-color: black;
  border: 0.01px solid black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
  width: 400px;
}

/* rows in the calculator  */
.row {
  display: flex;
  height: 16.39%;
  justify-content: space-between;
}

/* calculator display  */
.display {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 4em;
  justify-content: flex-end;
  padding-right: 0.2em;
}

/* clear default button styling */
button {
  background-color: hsl(0, 0%, 94%);
  border: none;
  cursor: pointer;
  font-size: 2.3em;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* button hover state */
button:focus,
button:hover {
  filter: brightness(75%) saturate(120%);
}

.clear-button {
  flex: 0 1 49.7%;
}

.backspace-button {
  flex: 0 1 24.5%;
}

/* buttons in the last column */
button:last-child {
  background-color: hsla(31, 70%, 59%, 1);
  flex: 0 1 24.6%;
}

.button-content {
  font-size: 2.3em;
}

/* buttons with 24.5% width */
.button {
  flex: 0 1 24.5%;
}

/* the zero button */
.zero-button {
  flex: 0 1 74.85%;
}
